In [1]:
# import dependencies
import pandas as pd

In [17]:
# Read in data as dataframe
vine_df = pd.read_csv("vine_table.csv")
vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RDIJS7QYB6XNR,5.0,0.0,0.0,N,Y
1,R36ED1U38IELG8,5.0,0.0,0.0,N,Y
2,R1UE3RPRGCOLD,2.0,1.0,1.0,N,Y
3,R298788GS6I901,5.0,0.0,0.0,N,Y
4,RNX4EXOBBPN5,1.0,1.0,1.0,N,Y
...,...,...,...,...,...,...
4864244,R1UP8F8Y4GC3IE,4.0,0.0,1.0,N,N
4864245,R3K9ZYANG0OFJB,5.0,7.0,7.0,N,N
4864246,R17ULZ2VC0O3CG,4.0,23.0,23.0,N,N
4864247,R13AWVNEKSY9M1,5.0,5.0,5.0,N,N
4864248,R1HN7EVNEN51LR,4.0,2.0,7.0,N,N

In [3]:
# Filter data where the total_votes count is equal to or greater than 20
total_votes_df = vine_df[vine_df["total_votes"] >= 20]
total_votes_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
104,ROP6ITXO8K5V2,5.0,23.0,27.0,N,Y
311,R3ND1LVU7AXCVF,1.0,21.0,21.0,N,Y
356,R9I5FOLKU99RY,5.0,19.0,20.0,Y,N
424,R1QS8AOD6HX3ED,4.0,59.0,81.0,N,N
546,R3ED60RC69CCQ6,5.0,22.0,23.0,Y,N
...,...,...,...,...,...,...
4864231,R38OUW047HVFOA,5.0,64.0,93.0,N,N
4864234,RX6OVBR9HW8UT,4.0,18.0,23.0,N,N
4864240,R1LGX0XI8HMJD5,1.0,59.0,65.0,N,N
4864242,R3LS3DOYDLPFE,5.0,63.0,69.0,N,N
4864246,R17ULZ2VC0O3CG,4.0,23.0,23.0,N,N

In [4]:
# Filter data where the number of helpful_votes divided by total_votes is equal to or greater than 50%.
percent_votes_df = total_votes_df[(total_votes_df["helpful_votes"]/total_votes_df["total_votes"]) >= 0.50]
percent_votes_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
104,ROP6ITXO8K5V2,5.0,23.0,27.0,N,Y
311,R3ND1LVU7AXCVF,1.0,21.0,21.0,N,Y
356,R9I5FOLKU99RY,5.0,19.0,20.0,Y,N
424,R1QS8AOD6HX3ED,4.0,59.0,81.0,N,N
546,R3ED60RC69CCQ6,5.0,22.0,23.0,Y,N
...,...,...,...,...,...,...
4864231,R38OUW047HVFOA,5.0,64.0,93.0,N,N
4864234,RX6OVBR9HW8UT,4.0,18.0,23.0,N,N
4864240,R1LGX0XI8HMJD5,1.0,59.0,65.0,N,N
4864242,R3LS3DOYDLPFE,5.0,63.0,69.0,N,N
4864246,R17ULZ2VC0O3CG,4.0,23.0,23.0,N,N

In [5]:
# Filter data where a review was written as part of the Vine program (paid), vine == 'Y'
paid_df = percent_votes_df[percent_votes_df["vine"] == 'Y']
paid_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
356,R9I5FOLKU99RY,5.0,19.0,20.0,Y,N
546,R3ED60RC69CCQ6,5.0,22.0,23.0,Y,N
926,R2JM687C525WR9,3.0,33.0,33.0,Y,N
7569,RUB4AUWGHG16G,4.0,25.0,27.0,Y,N
20672,R1S3IDYJUA6V2G,5.0,28.0,32.0,Y,N
...,...,...,...,...,...,...
4464051,R37TJH51JX1Q69,5.0,40.0,42.0,Y,N
4541849,R22ZIZJSUY0KTE,5.0,74.0,80.0,Y,N
4541916,RUSUDSP3IX5LO,2.0,87.0,102.0,Y,N
4630218,R199NONGNGZX3S,4.0,20.0,21.0,Y,N
4647725,R20J143LVLMX3J,4.0,31.0,35.0,Y,N

In [6]:
# Filter data where the review was not part of the Vine program (unpaid), vine == 'N'
unpaid_df = percent_votes_df[percent_votes_df["vine"] == 'N']
unpaid_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
104,ROP6ITXO8K5V2,5.0,23.0,27.0,N,Y
311,R3ND1LVU7AXCVF,1.0,21.0,21.0,N,Y
424,R1QS8AOD6HX3ED,4.0,59.0,81.0,N,N
1176,R2LWX4TZ67FWPT,4.0,50.0,50.0,N,N
1515,R29IYHPYD14AGI,3.0,84.0,84.0,N,Y
...,...,...,...,...,...,...
4864231,R38OUW047HVFOA,5.0,64.0,93.0,N,N
4864234,RX6OVBR9HW8UT,4.0,18.0,23.0,N,N
4864240,R1LGX0XI8HMJD5,1.0,59.0,65.0,N,N
4864242,R3LS3DOYDLPFE,5.0,63.0,69.0,N,N
4864246,R17ULZ2VC0O3CG,4.0,23.0,23.0,N,N

In [7]:
# Get total number of reviews, the number of 5-star reviews, 
# and the percentage of 5-star reviews for the paid reviews
total_paid = len(paid_df.index)
fiveStar_paid = len(paid_df[paid_df["star_rating"] == 5])
percent_5star_paid = (fiveStar_paid/total_paid) * 100
percent_5star_paid

34.12322274881517

In [8]:
# Get total number of reviews, the number of 5-star reviews, 
# and the percentage of 5-star reviews for the unpaid reviews
total_unpaid = len(unpaid_df.index)
fiveStar_unpaid = len(unpaid_df[unpaid_df["star_rating"] == 5])
percent_5star_unpaid = (fiveStar_unpaid/total_unpaid) * 100
percent_5star_unpaid

48.33623524859741

In [21]:
# Set up contingency table for Chi-square test
contingency_table = pd.crosstab(percent_votes_df["star_rating"],percent_votes_df["vine"], margins=True, margins_name="Total")
contingency_table

vine             N     Y  Total
star_rating
1.0          11014    36  11050
2.0           4668    82   4750
3.0           6310   300   6610
4.0          10054   416  10470
5.0          29982   432  30414
Total        62028  1266  63294

In [23]:
# significance level
alpha = 0.05

# Calcualtion of Chisquare test statistics
chi_square = 0
rows = percent_votes_df["star_rating"].unique()
columns = percent_votes_df["vine"].unique()
for i in columns:
    for j in rows:
        O = contingency_table[i][j]
        E = contingency_table[i]['Total'] * contingency_table['Total'][j] / contingency_table['Total']['Total']
        chi_square += (O-E)**2/E

In [24]:
# The p-value approach
print("Approach 1: The p-value approach to hypothesis testing in the decision rule")
p_value = 1 - stats.norm.cdf(chi_square, (len(rows)-1)*(len(columns)-1))
conclusion = "Failed to reject the null hypothesis."
if p_value <= alpha:
    conclusion = "Null Hypothesis is rejected."
        
print("chisquare-score is:", chi_square, " and p value is:", p_value)
print(conclusion)

Approach 1: The p-value approach to hypothesis testing in the decision rule
chisquare-score is: 637.240205570009  and p value is: 0.0
Null Hypothesis is rejected.